body{
  direction: rtl;
  
}

.App{
  background-color:rgb(165, 164, 164);
  
}

.contain{
  margin:0;
  display:grid;
  grid-template-columns: 1fr 4fr;
  height: 90vh;
  width:100%;
  background:rgb(151, 151, 151)
}

@media  screen and (max-width:700px){
  .contain{
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    
  }
};