body{
  direction: rtl;
  
}

.App{
  background:  linear-gradient(to right ,#707070,#7e7c7c,#c4b3b3)
  
}

.contain{
  margin:0;
  display:grid;
  grid-template-columns: 1fr 4fr;
  
  height: 100vh;
  width:100%;
  background:  linear-gradient(to right ,#707070,#7e7c7c,#c4b3b3);
  
  
}

.contain-other{
  overflow: auto;
  border-left: 5px solid rgb(65, 117, 185);
}

::-webkit-scrollbar{
  width:10px;
  
}

::-webkit-scrollbar-track{
  background:white
}

::-webkit-scrollbar-thumb{
  background:rgb(40, 46, 58);
}



@media  screen and (max-width:700px){
  .contain{
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    
  }
};

